/* ===================== [General Style] ===================== */
:root {
    --black-primary-color: #1c1c1c;
    --black-title-color: #343434;
    --light-black-color: #999;
    --lighter-grey-color: #f7f7f7;
    --section-text-color: #748182;
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.round-icon {
    background-color: var(--round-icons-bg);
    margin-right: 5px;
    width: var(--round-icons-size);
    height: var(--round-icons-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icons-list .round-icon a {
    color: inherit;
}

.section-secondary-title {
    color: var(--black-title-color);
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.section-subtitle {
    text-transform: uppercase;
    color: var(--light-black-color);
    letter-spacing: 1px;
}

.section-text {
    color: var(--section-text-color);
}

.light-to-dark-bg {
    background-color: #fff;
    transition: background-color 0.7s;
    color: var(--black-title-color);
    border: 1px solid var(--black-title-color);
}

.light-to-dark-bg:hover {
    background-color: var(--black-primary-color);
    color: white;
    border: 1px solid var(--black-title-color);
}

.dark-to-light-bg {
    background-color: var(--black-primary-color);
    color: white;
    border: 1px solid var(--black-title-color);
    transition: background-color 0.7s;
}

.dark-to-light-bg:hover {
    background-color: #fff;
    transition: background-color 0.7s;
    color: var(--black-title-color);
    border: 1px solid var(--black-title-color);
}

.section-title {
    display: flex;
    justify-content: center;
}

.section-title h2 {
    position: relative;
    display: inline;
    font-weight: 900;
    z-index: 3;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.section-title h2::after {
    content: "";
    position: absolute;
    height: 75%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("../images/dots.png");
}

.bg-section-grey {
    background-color: var(--lighter-grey-color);
    color: var(--black-title-color);
}

/* ===================== [Header] ===================== */
#home {
    --round-icons-bg: rgba(0, 0, 0, 0.3);
    --round-icons-size: 35px;
}

header {
    background-image: url("./../images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    font-family: 'Montserrat', sans-serif;
}

header p.display-5 {
    font-weight: 800;
}

/* ===================== [Navbar] ===================== */
.navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
    width: fit-content;
}

div.navbar-collapse a {
    color: white;
}

div.navbar-collapse a:hover {
    color: white;
}

nav ul li a {
    position: relative;
    margin: 0 auto;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    left: 0;
    height: 2px;
    background-color: white;
    transition: right 0.7s;
}

nav ul a.active::after {
    right: 0;
    color: inherit;
}

div.navbar-collapse .responsive-p {
    padding: 1rem 0.5rem;
}

div.navbar-collapse.collapsing {
    visibility: hidden;
}

div.navbar-collapse.show {
    background-color: white;
}

div.navbar-collapse.show .responsive-p {
    padding: 0.75rem 0;

}

div.navbar-collapse.show a,
div.navbar-collapse.show .active {
    color: black;
}

div.navbar-collapse.show a::after {
    background-color: black;
}

/* ===================== [About] ===================== */
#about {
    --overflow-px: 30px;
}

.about .about-img {
    position: relative;
    z-index: 3;
    left: calc(var(--overflow-px) / 2);
}

.about .about-img::after {
    content: "";
    position: absolute;
    background-image: url("../images/dots.png");
    height: calc(50% + var(--overflow-px));
    width: calc(70% + var(--overflow-px));
    top: 50%;
    left: calc(-1 * var(--overflow-px));
    color: black;
    z-index: -1;
    background-position: center;
    background-repeat: repeat;
}

.about .about-skills .progress {
    height: 25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset
}

.about .about-skills .progress .progress-bar {
    background-color: var(--black-primary-color);
}

.about .about-skills .progress[aria-valuenow='95'] .progress-bar {
    width: 95%;
}

.about .about-skills .progress[aria-valuenow='80'] .progress-bar {
    width: 80%;
}

.about .about-skills .progress[aria-valuenow='90'] .progress-bar {
    width: 90%;
}

/* ===================== [Services] ===================== */

.services .round-icon {
    --round-icons-size: 75px;
    --round-icons-bg: #f4f4f4;
    transition: background-color 0.7s, color 0.7s;
}

.services .round-icon i {
    font-size: 2rem;
}

.services .item:hover .round-icon {
    background-color: var(--black-primary-color);
    color: white;
}

/* ===================== [Portfolio] ===================== */

.portfolio {
    --round-icons-bg: black;
    --round-icons-size: 30px;
    --portfolio-anim-duration: 0.7s;
}

.nav-tabs .nav-link {
    margin-bottom: 0;
    border: 0;
    color: var(--black-primary-color);
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
}

.portfolio .nav-tabs .nav-link {
    border: none;
    position: relative;
}

.portfolio .nav-tabs .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: var(--black-primary-color);
    transition: right var(--portfolio-anim-duration);
}

.portfolio .nav-tabs .active.nav-link:after {
    right: 0;
}

.portfolio .portfolio-overlay p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: var(--black-title-color);
}

.portfolio .portfolio-overlay {
    top: 30px;
    bottom: -10px;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity var(--portfolio-anim-duration), top var(--portfolio-anim-duration), bottom var(--portfolio-anim-duration);
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.portfolio .round-icon {
    color: var(--lighter-grey-color);
    font-size: 0.8rem;
}

.portfolio .round-icon:hover {
    color: #000;
    border: 1px solid #000;
    background-color: var(--lighter-grey-color);
    cursor: pointer;
}

/* ===================== [Clients] ===================== */
.clients .carousel img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.clients .carousel p.section-text {
    word-spacing: 2px;
    font-size: 1.1rem;
}

.clients .carousel-inner .carousel-item:not(.active) {
    visibility: none;
}

.clients .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #343434;
    
}

/* ===================== [Stats] ===================== */
.stats {
    color: var(--black-title-color);
}


/* ===================== [Team] ===================== */
.team {
    --round-icons-bg: black;
    --round-icons-size: 30px;
    --team-anim-duration: 0.7s;
}

.team .member-img-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transform: scale(0.7, 0.7); */
}